<?xml version='1.0' encoding='utf-8'?>
<widget id="com.comgtech.loadwalletapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Loadwallet</name>
    <description>
         Send load, pay bills, check current wallet balance, view previous transactions and manage account settings for loadwallet retailers.
    </description>
    <author email="dev.comgtech@gmail.com" href="http://comgtech.com">
        Loadwallet Dev Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#165769" />
        <preference name="StatusBarStyle" value="lightcontent" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#165769" />
        <preference name="StatusBarStyle" value="lightcontent" />
    </platform>
    <plugin name="cordova-plugin-inappbrowser" spec="~2.0.1" />
    <engine name="ios" spec="~4.4.0" />
    <engine name="android" spec="~7.0.0" />
</widget>
