/* Your app styles here */

/* List Form */
.ios .form div , .ios .form ul,.ios .form li{
  margin:0px;
  padding: 0px;
  background-color: transparent;
  border: 0px;
}


.form .input-clear-button{
  margin: 0px;
  margin-right: 20px;
  margin-top: -6px;
}


#login-form .input-clear-button{
  margin-top: -12px;
}


.page-content{
  padding-bottom: 50px;
}


.image { 
   position: relative; 
   height: 160px;
}

.image h2 { 
   position: absolute; 
   top: 65px; 
   padding: 10px;
   left: 0; 
   color: white;
   height: 160px;
}

.image p { 
   position: absolute; 
   top: 95px; 
   padding: 10px;
   left: 0; 
   color: white;
   height: 160px;
}

.image .logo { 
   position: absolute; 
   top: 20px; 
   padding: 10px;
   left: 0; 
}
.panel {
  overflow: hidden;
  box-shadow: none !important;
}
.drawer-item-active{
  background: #f5f5f5;
}

.item-radio i{
   margin-right: 15px; margin-top: 5px;
}

.md .bg-color-submit {
  background-color: #26cead !important;
}

.ios .bg-color-submit {
  background-color: #26cead !important;
}

.toolbar-submit{
  overflow: hidden;
  box-shadow: none !important;
}


.md .block-title {
  color: rgba(0, 0, 0, 0.54);
  margin: 32px 16px 16px;
  line-height: 16px;
  font-weight: 500;
  float: center;
  text-align: center;
}

.md .list-center{
      float: center;
      text-align: center;
}

.md .center, .ios .center{
      float: center;
      text-align: center;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.md .bg-color-primary{
  background-color: #00b9e6;
}
.md .bg-color-primary-dark{
  background-color: #00b9e6;
}

.md .toolbar-bottom-md{
  top: auto !important;
  bottom: 24px !important;
}

.md .tabbar .tab-link-highlight,
.md .tabbar-labels .tab-link-highlight {
  height: 0px;
}

.md label.item-radio input[type="radio"]:checked,
.md label.item-radio input[type="radio"]:checked ~ * .icon-radio,
.md .radio input[type="radio"]:checked ~ .icon-radio {
  background: #f5f5f5;
}

.md .radio input[type="radio"]:checked {
  background: #f5f5f5;
}


.md .icon-radio:after {
  background: #f5f5f5;
}

.bg-color-login{
    background: linear-gradient(#00b9e6,#00b9e6, #1565C0);
}
.middle {
    margin: auto;
}

/* Bottom bar button */

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.md #bottom,.ios #bottom {
    bottom:0;
    height:50px;
    width:100%;
    position: fixed;
    z-index: 500 !important ;
    overflow: hidden;
}
.md #bottom a, .ios #bottom a{
  border:0px;
  border-radius:0px;
  text-align: middle;
  color:white;
  background-color: #26cead;
  height: 50px;
  padding-top:8px; 
  font-size: 1.2em;
  overflow: hidden;
}

.ios #bottom a{
  padding-top:12px; 
}


/*Drawer*/

.panel .drawer .item-title{
  color: gray;
}


/* Modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding:5px;
    width: 80%;
}
.border-round{
    border-radius: 4px;
}

.modal-header {
  border: none;
  color: white;
  font-size: 16px;
  padding: 5px;
  width: 80%;
  margin: auto;
  background-color: #00b9e6;
}


.modal-content .button {

  text-align: center;
  width:100px; margin:0 auto;
}

.info {background-color: #00b9e6;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #DA5F6A;} /* Red */ 
.default {background-color: #e7e7e7; color: black;} /* Gray */
.success {background-color: #4CAF50;} /* Green */



/**Inputs**/

input[type=text],input[type=tel],input[type=password],input[type=number], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

input[type=text]:focus,input[type=tel]:focus,input[type=password]:focus,input[type=number]:focus, textarea:focus {
  box-shadow: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  padding: 20px;
  color: black;
}

.no-border {
  border: none;
}


/*


/** Reloads Modal **/

#reloads-table {
    border-collapse: collapse;
    width: 100%;
}

#reloads-table td, #reloads-table th {
    border: 1px solid #ddd;
    padding: 5px;
}

#reloads-table tr:nth-child(even){background-color: #f2f2f2;}

#reloads-table tr:hover {background-color: #ddd;}

#reloads-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}



/*niko*/
body.with-panel-left-cover .panel,
body.with-panel-right-cover .panel {
  box-shadow: none;
  overflow: visible;
}

body.with-panel-left-cover .panel::after,
body.with-panel-right-cover .panel::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}
/*niko*/

/*Removing all shadow*/


.md .dialog {
  box-shadow: none;
}

.md .popover {
  box-shadow: none; 
}

.md.with-panel-left-cover .panel-cover,
.md.with-panel-right-cover .panel-cover {
  box-shadow: none;
}

.swal2-container.swal2-shown {
  background: none;
}

.panel{
  overflow: scroll;
}


