.swal-text {
  text-align: center;
}
.swal-modal{
	border-radius: 2px;
}
.swal-button {
	border-radius: 2px;
	border:none;
  	background-color: #26cead;
}

.swal-title{
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 20px;
}
.swal-icon{
	margin-bottom: 5px;
	margin-top: 5px;
}